.card {
    // Estilos base de las tarjetas
    transition: all 0.5s ease-in-out;
  
    &:hover {
      transform: scale(1.05); 
    }
  }

.facebook {
    transition: all 0.5s ease-in-out; 
    &:hover {
      transform: scale(1.2);
    }
  }

.instagram {
    transition: all 0.5s ease-in-out; 
    &:hover {
      transform: scale(1.2);
    }
  }

.whatsapp {
    transition: all 0.5s ease-in-out; 
    &:hover {
      transform: scale(1.2);
    }
  }