.custom-section {
    max-width: 600px; 
    margin: auto; 
}


.custom-input,.custom-textarea {
    font-size: 16px; 
}

.service {
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out; 
        &:hover {
        transform: scale(1.05);
    }
  }
  
  .service img {
    width: 100%;
    height: auto;
  }
  
  .service-description {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .service-description h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .service-description {
      margin-top: 20px;
    }
  }
  
  h1 {
    font-size: 4rem; 
}

.gray-box {
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    h2 {
        font-weight: bold;
        text-align: center;
        font-size: 3rem; 
    }

    p {
        text-align: center;
        font-size: 2rem; 
    }
}

.gray-box h2 {
    font-weight: bold;
    text-align: center;
}

.gray-box p {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.paragraph-large {
  font-size: 2rem; 
}

.paragraph-container {
  max-width: 400px; 
  margin: 0 auto; 
}

.title-large {
  font-size: 2.5rem; 
}
